<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ubsoft.framework.core.dal.mybatis.mapper.BaseMapper">
    <select id="queryBio1"  resultType="com.ubsoft.framework.core.dal.model.Bio">
        select * from sa_user;
    </select>
</mapper>